@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.reset1-container {
    display: flex;
    height: 100vh;
}

.reset1-container .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a020f0;
    padding: 20px;
}

.reset1-container .skyhook-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.reset1-container .vector-img {
    width: 80%;
    height: auto;
    margin-top: 50px;
}

.reset1-container .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 200px;
}

.reset1-container .right-section h1 {
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.reset1-container .right-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.reset1-container .username {
    color: #a020f0; /* Username color */
}

.reset1-container .right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    max-width: 400px;
    margin-right: 50px;
}

.reset1-container .right-section label {
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

.reset1-container .right-section input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding-right: 40px;
    position: relative;
}

.reset1-container .password-container {
    position: relative;
    width: 100%;
}

.reset1-container .password-icon {
    position: absolute;
    right: 10px;
    top: 40%;
    right: -20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #a020f0;
}

.reset1-container .reset1-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a020f0;
    color: #fff;
    transition: background-color 0.3s;
    font-weight: 500;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    margin-left: 130px;
}

.reset1-container .reset1-button:hover {
    background-color: #b24ff0;
}

.reset1-container .footer {
    margin-top: 150px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

.reset1-container .footer p {
    margin-bottom: 100px;
    font-size: 14px;
    color: #333;
}
